body {
	
	display: Arial, sans-serif;
	justify-content: center;
	align-items: center;
}
.container1 {
	width: 60%;
	max-width: 1000px;
	min-height: 100px;
	background-color: white;
	margin: 20px;
	padding: 20px;
	grid-template-columns: 3fr 5fr;

}

.Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}

.Contact{
	padding: 20px;

border-radius: 10px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.737);
	color: rgb(255, 255, 255);
}
h2{
	font-weight: bold;
	 font-size: 18px;
	font-style: Monospace;
}
hr{
	 
 border-top: 10px  rgb(112, 131, 144);
 height: 3px;
 width: 50%;
 border-right-width:0;
 border-bottom-width:0;
 border-left-width: 0;
}
th,td{
	padding-right: 5px;
}
h3{
	font-size: 18px;
}